version: "3.6"

services:
  kinesis:
    image: leprechaun/kinesalite
    ports:
      - 4567:4567
  pg:
    image: postgres:11
    environment:
      POSTGRES_USER: snacker-tracker-reporter
      POSTGRES_PASSWORD: super-secure
      POSTGRES_DB: snacker-tracker-reporter-default
    ports:
      - 5432:5432
    volumes:
      - ./backup/:/mnt/backups/

  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - 8080:8080
    environment:
      URL: http://localhost:5000/api-doc
      OAUTH_CLIENT_ID: 5hU4SKGr5BIuTp7ysYix7FAGBAkR9nii

  s3:
    image: minio/minio
    volumes:
      - minio-data:/mnt/data
    command:
      - minio
      - server
      - /mnt/data
    ports:
      - 9000
    environment:
      MINIO_ACCESS_KEY: 1234567890
      MINIO_SECRET_KEY: 1234567890

  bare: &bare
    image: node:10
    working_dir: /app/
    command: yarn dev
    volumes:
      - ./:/app/
      - yarn-cache:/usr/local/share/.cache/yarn/v2
      - node_modules:/app/node_modules/
    environment:
      APP_VERSION: 0.1.0-snapshot
      ENVIRONMENT_NAME: default
      USE_SWAGGER_VALIDATION: "true"
      DEBUG: knex:query
      PORT: 5000
      DATABASE_HOST: ${DATABASE_HOST-pg}
      DATABASE_NAME: ${DATABASE_NAME-snacker-tracker-reporter-default}
      DATABASE_USERNAME: ${DATABASE_USERNAME-snacker-tracker-reporter}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD-super-secure}
      AWS_ACCESS_KEY_ID: 1234567890
      AWS_SECRET_ACCESS_KEY: 1234567890
      KINESIS_ENDPOINT: http://kinesis:4567/
      KINESIS_STREAM: snack-stream
      S3_ENDPOINT: http://s3:9000

  full:
    <<: *bare
    ports:
      - 5000:5000
    depends_on:
      - pg
      - kinesis
      - swagger-ui
      - s3

volumes:
  node_modules: {}
  minio-data: {}
  yarn-cache: {
    external: true
  }
